$width: 1920;
$height: 4534;
$widthPx: $width * 1px;
$heightPx: $height * 1px;

@function calc-height($n) {
  @return $n / $height * 100%;
}

@function calc-width($n) {
  @return $n / $width * 100%;
}

html {
  body {
    max-width: $widthPx;
    .section-wrapper {
      position: relative;
      width: 100%;
      float: left;
      height: 0;
      margin: 0;
      &.header-wrapper {
        padding-bottom: calc-width(669);
      }
      &.tag-cloud-wrapper {
        padding-bottom: calc-width(585);
      }
      &.our-work-wrapper {
        padding-bottom: calc-width(1088);
      }
      &.our-people-header-wrapper {
        padding-bottom: calc-width(685);
      }
      &.our-people-wrapper {
        padding-bottom: calc-width(517);
      }
      &.contact-wrapper {
        padding-bottom: calc-width(997);
      }
      &.footer-wrapper {
        padding-bottom: calc-width(55);
      }
    }

    .portion {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    section#header {
      background-image: url(/images/header-background.jpg);
      nav {
        margin-top: calc-width(44);
        height: 17.7877%;
        width: 39.6875%;
        background-color: #092536;
      }
    }
    section#tag-cloud {
      background-image: url(/images/tagcloud-background.jpg);
    }
    section#our-work {
      background-color: #ebdbc9;
    }
    section#our-people-header {
      background-image: url(/images/our-people-huts.jpg);
    }
    section#our-people {
      background-image: url(/images/our-people-background.jpg);
    }
    section#contact {
      background-image: url(/images/contact-background.jpg);
    }
    section#footer {
      background-color: #092536;
    }
  }
}